// Bootstrap


// Icons
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// CoreUI
@import '~@coreui/coreui/scss/coreui';
@import '~flag-icon-css/sass/flag-icon.scss';
//@import '~@coreui/coreui/scss/bootstrap';

// Custom
@import 'style.scss';

@font-face {
    font-family: beautifyPeople;
    src: url('/fonts/vendor/beautiful-people-font/BeautifulPeoplePersonalUse-PYP2.ttf');
}
div.logo-font{
    padding: 0.8445rem 1rem;
    font-family: beautifyPeople;
    font-size: 2.5rem;
    text-align: center;
}
.logo-font:first-child{
    color: #e3e21f;
}
.sub-lg{
    color: #2c2e69 !important;
}

.product-image{
    width: 160px;
}
.model-btn{
    border: 1px solid #a39d9d;
    width: 200px;
    color: #e9a60b !important;
}

.c-app {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100vh;
}
.my-product-cnt{
    margin-bottom: 0px;
}

.my-product-cnt-fc{
    color: darkmagenta;
}

.my-product-cnt-lc{
    color: blue;
}
.plan-modal-dialog{
    max-width: 1000px;
    margin: 1.75rem auto;
}
.up-plan-details{
    margin-top: 50px;
    padding: 20px;
    background-color: #fffedd;
    color: #a97a0c;
    border-radius: 5px;
    border: 1px solid #fee6c8;
    font-size: 15px;
}

.up-plan-details p{
    margin-bottom: 0px;
}
.up-plan-details span{
    padding: 5px;
    background-color: #e59e33;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#upgrade-plan-modal-title{
    font-weight: 600;
    font-size: 26px;
    color: black;
}
.up-plan-col{
    padding: 0px !important;
    width: 16%;
}
.up-plan-des{
    margin-top: 20px;
}
.up-plan-des ul .header {
    padding: 22%;
    font-size: 0.9rem;
    font-weight: 700;
}
.up-plan-des ul .footer {
    padding: 16px;
    font-size: 1rem;
    color: #ffffff;
    font-weight: 700;
}
.up-plan-des ul .features {
    text-align: left;
    font-size: 1.0rem;

}
.up-plan-des ul .header {
    background-color: inherit;
}
.up-plan-col ul .grey {
    background-color: #ffffff;
    font-size: 1.2rem;
}
.up-plan-col .up-td{
    background-color: #cadde5 !important;
}
.up-chose-plan{
    padding: 10% 0% !important;
}

#ad-modal{
    z-index: 99999999;
}

.d-flex {
    display: -webkit-box;
    display: flex;
}
.custom-row{
    display: block !important;
}


.custom-sdbar{
    color: #fff;
    background: #f9b737 !important;
}
.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    color: #fff;
    background: #f6962d !important;
}
.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
    color: #fff;
    background: #f6962d !important;
}
.c-main{
    background-color: #fff;
}
.sub-title{
    color:#000;
    font-weight: 600;
}
.btn-amazon, .btn-amazon:hover{
    color: #d1c71f;
    background-color: #2d2f69;
    border-color: #2d2f69;
}
form.card .nav-tabs .nav-link.active, form.card .nav-tabs .nav-item.show .nav-link {
    color: #d1c71f;
    background-color: #2d2f69;
}
