<template>
    <div class="modal fade" id="ad-modal" tabindex="-1" role="dialog" aria-labelledby="ad-modal-title" aria-hidden="true" :data-backdrop="isDismissable()">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ad-modal-title" v-html="title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-if="dismissable">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div v-html="content"></div>
                    <div class="progress" v-if="showProgress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" :aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100" :style="'width: ' + progress + '%'"></div>
                    </div>
                </div>
                <div class="modal-footer d-flex" v-if="dismissable">
                    <span align="left" v-if="is_job_msg" style="color:blue;width:83%;">Some additional images are being pushed in the background. Check product in few seconds.</span>
                    <a v-if="is_show_ok" type="button" class="btn btn-primary" href="/settings" v-html="okBtn"></a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" v-html="dismissBtn"></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['is_show_ok', 'is_job_msg'],
        data() {
            return {
                title: '',
                content: '',
                dismissable: true,
                dismissBtn: 'Close',
                okBtn: 'Ok',
                showProgress: true,
                progress: 100,
            };
        },
        computed: {
        },
        methods: {
            open(mTitle, mContent, mDismissable = true, mDismissBtn = 'Close', mProgress = 0) {
                this.title = mTitle;
                this.content = mContent;
                this.dismissable = mDismissable;
                this.dismissBtn = mDismissBtn;
                this.showProgress = mProgress > 0 ? true : false;
                this.progress = mProgress;
                $('#ad-modal').modal('show');
            },
            close() {
                $('#ad-modal').modal('hide');
            },
            setProgress(val) {
                this.progress = val;
            },
            isDismissable() {
                return this.dismissable ? "dynamic" : "static";
            }
        },
        mounted() {
            console.log('Component mounted.');
        },
        watch : {
            content: {
                handler: function() {
                    $('#ad-modal').modal('show');
                },
                immediate: true,
            },
        },
    }
</script>
