<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <form class="card shadow-sm" name="settings-form" id="settings-form" method="post">
                    <div class="card-body">
                        No orders have been received yet...
                    </div>
                </form>
            </div>
        </div>

        <!-- Diagnostics -->
        <div class="row text-monospace">
            <div class="col-sm-12">
                <div class="card shadow-sm">
                    <div class="card-header"><h4 class="mb-0">Diagnostics</h4></div>
                    <div class="card-body">
                        <p v-for="(d, index) in diagnostics"><strong>{{ d.name }}:</strong> {{ d.value }}</p>
                        <p><strong>User-agent:</strong> {{ browser.userAgent }}</p>
                        <p><strong>Platform:</strong> {{ browser.platform }}</p>
                        <p><strong>Cookies Enabled:</strong> {{ browser.cookieEnabled }}</p>
                        <p class="mb-0"><strong>Browser Language:</strong> {{ browser.language }}</p>
                    </div>
                </div>
            </div>
        </div>
        <modal ref="modal" :is_show_ok="is_ok"></modal>
    </div>
</template>

<script>
    export default {
        props: {

        },
        components: {

        },
        data() {
            return {
                content: null,
                config: {},
                msgStatus: 'primary',
                msgText: 'Status: Ready to import',
                formEnabled: false,
                appSettings: {},
                browser: navigator,
                diagnostics: [],
                is_ok: false,
            };
        },
        computed: {
        },
        methods: {

        },
        mounted() {
            console.log('Component mounted.');
        }
    }
</script>
