<template>
    <div class="ad-products mt-4">
        <div class="row" v-if="productsLoaded && !products.length">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        No products have been imported yet...
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-else v-for="(product, index) in products">
            <div class="col-md-12">
                <form class="card shadow-sm" :name="'product-' + index + '-form'" id="'product-' + index + '-form'" method="post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <div>
                                    <a :href="product.product_url" data-toggle="tooltip" title="View Product in Store" target="_blank"><img :src="product.image_url" :alt="product.title + ' [thumbnail]'" class="img-fluid mb-3 product-image"></a>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <h2 class="ad-shortened-title"><a :href="product.edit_url" data-toggle="tooltip" title="Edit Product in Shopify" target="_blank">{{ product.title }}</a></h2>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-1" v-if="product.associates['status']" style="color:#321fdb;">Affiliate Product</p>
                                        <p class="mb-1">Shipping Type: {{ product.shipping_type }}</p>
                                        <p class="mb-1">Variants: <a href="#" @click.prevent="editProduct(index)">{{ product.variants.length }}</a></p>
                                        <p class="mb-1" v-if="!product.associates['status']">Shopify Price: <a href="#" @click.prevent="editProduct(index)">{{ getShopifyPriceRange(index) }}</a></p>
                                        <p class="mb-1" v-if="!product.associates['status']">Cost: <a href="#" @click.prevent="editProduct(index)">{{ getSourcePriceRange(index) }}</a></p>
                                        <p class="mb-1">Supplier Link: <a :href="product.source_url" target="_blank">View on {{ product.source }}</a> <i class="fas fa-external-link-alt"></i></p>
                                    </div>
                                    <div class="col-sm-4">
                                        <p  v-for="(sales, index, i) in product.saller_ranks" :key="index">
                                            <span > #{{sales.count}} in {{sales.name}}</span>
                                        </p>
                                    </div>
                                    <div class="col-sm-4 ad-product-actions">
                                        <p>Last updated: {{ product.updated_at }}</p>
                                        <div class="dropdown float-sm-right">
                                            <button :id="'product-' + index + '-menu'" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                                ...
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-sm-right" :aria-labelledby="'product-' + index + '-menu'">
                                                <a class="dropdown-item" type="button" :href="product.edit_url" target="_blank"><i class="fas fa-edit mr-1"></i> Edit in Shopify</a>
                                                <button class="dropdown-item" type="button" @click.prevent="editProduct(index)"><i class="fas fa-edit mr-1"></i> Edit Prices in Amazone</button>
                                                <button class="dropdown-item text-danger" type="button" @click.prevent="deleteProduct(index)"><i class="fas fa-trash-alt mr-1"></i> Delete Product</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div :class="'row collapse collapse' + index" aria-expanded="false">
                            <div class="col-sm-12">
                                <table class="table table-striped" v-if="product.variants && product.variants.length">
                                    <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col" v-for="(cnt, cntindex) in attributes[product.shopify_id]['key']">{{cnt}}</th>
                                        <!--                                            <th scope="col" v-if="product.source == 'Amazon'">ASIN</th>-->
                                        <th scope="col" v-if="product.source == 'Walmart'">Product ID</th>
                                        <!--                                            <th v-for="(option, optionIndex) in product.options" scope="col">{{ option.value }}</th>-->
                                        <th scope="col">{{ product.source }} {{ product.locale }} Price</th>
                                        <th scope="col">
                                            <div class="form-group row mb-0">
                                                <label :for="'product-' + index + '-percent-diff'" class="col-sm-7 pb-0 col-form-label">Price % Difference</label>
                                                <div class="col-sm-5">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">%</span>
                                                        </div>
                                                        <input type="number" class="form-control" :aria-label="'My product ' + index + ' price % difference'" :name="'product-' + index + '-percent-diff'" :id="'product-' + index + '-percent-diff'" value="" v-on:change="applyPercentDiffAll(index)" :disabled="product.associates['status']">
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col">My Price</th>
                                        <th scope="col">Profit</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(variant, vIndex) in product.variants">
                                        <td><img :src="variantImageURL(index, variant.image_id)" :alt="variant.title + ' [thumbnail]'" class="img-fluid" style="max-width: 60px; height: auto;"></td>
                                        <!--                                            <td>{{ variant.sku }}</td>-->
                                        <td v-for="(attr, attrindex) in attributes[variant.product_id][variant.sku]">{{attr}}</td>
                                        <!--                                            <td v-for="(option, optionIndex) in product.options">{{ variant[option.value] }}</td>-->

                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">{{currency}}</span>
                                                </div>
                                                <input type="number" class="form-control" :aria-label="'Variant ' + variant.sku + ' Price'" :name="'variant-' + variant.sku + '-source-price'" :id="'variant-' + variant.sku + '-source-price'" :value="product.source_prices[vIndex]" readonly>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">%</span>
                                                </div>
                                                <input type="number" class="form-control" :aria-label="'Variant ' + variant.sku + ' price % difference'" :name="'variant-' + variant.sku + '-percent-diff'" :id="'variant-' + variant.sku + '-percent-diff'" :value="getPercentDiff(index, vIndex)" v-on:change="applyPercentDiff(index, vIndex)" :disabled="product.associates['status']">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">{{currency}}</span>
                                                </div>
                                                <input type="number" class="form-control" :aria-label="'Variant ' + variant.sku + ' Price'" :name="'variant-' + variant.sku + '-shopify-price'" :id="'variant-' + variant.sku + '-shopify-price'" v-model="variant.price" step="0.01" min="0.00" v-on:change="updatePercentDiff(index, vIndex)" :disabled="product.associates['status']">
                                            </div>
                                        </td>
                                        <td :class="{'text-danger': profit(product.min_source_price, variant.price) < 0, 'text-success': profit(product.min_source_price, variant.price) > 0}"><div class="pt-1">{{currency}}{{ profit(products[index].source_prices[vIndex], variant.price) }}</div></td>
                                        <td>
                                            <input type="number" class="form-control" :aria-label="'Variant ' + variant.sku + ' Quantity'" :name="variant.sku + '-quantity'" :id="'variant-' + variant.sku + '-quantity'" :value="variant.inventory_quantity" readonly>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-success btn-lg mr-2" @click.prevent="saveVariants(index)"><i class="fas fa-save"></i> Update Variants</button>
                                        <button type="button" class="btn btn-secondary btn-lg" @click.prevent="editProduct(index)"><i class="fas fa-times"></i> Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Diagnostics -->
        <div class="row text-monospace">
            <div class="col-sm-12">
                <div class="card shadow-sm">
                    <div class="card-header"><h4 class="mb-0">Diagnostics</h4></div>
                    <div class="card-body">
                        <p v-for="(d, index) in diagnostics"><strong>{{ d.name }}:</strong> {{ d.value }}</p>
                        <p><strong>User-agent:</strong> {{ browser.userAgent }}</p>
                        <p><strong>Platform:</strong> {{ browser.platform }}</p>
                        <p><strong>Cookies Enabled:</strong> {{ browser.cookieEnabled }}</p>
                        <p class="mb-0"><strong>Browser Language:</strong> {{ browser.language }}</p>
                    </div>
                </div>
            </div>
        </div>
        <modal ref="modal"></modal>
    </div>
</template>

<script>
    export default {
        props: {

        },
        components: {

        },
        data() {
            return {
                content: null,
                config: {},
                msgStatus: 'primary',
                msgText: 'Status: Ready to import',
                productsLoaded: false,
                products: [],
                showEditProduct: -1,
                browser: navigator,
                diagnostics: [],
                is_affiliate: false,
                attributes: [],
            };
        },
        computed: {
        },
        methods: {
            variantImageURL(productIndex, imageID) {
                for (let i = 0; i < this.products[productIndex].images.length; i++) {
                    if (this.products[productIndex].images[i].id == imageID) {
                        return this.products[productIndex].images[i].src;
                    }
                }

                return this.products[productIndex].image_url;
            },
            editProduct(index) {
                if (this.showEditProduct > -1) {
                    $('.collapse' + this.showEditProduct).collapse('hide');
                }

                $('.collapse' + index).collapse('toggle');

                this.showEditProduct = index;
            },
            saveVariants(index) {
                // Display progress
                this.$refs.modal.open('Please wait...', 'Updating variants', false, '', 100);

                let params = {
                    'product_id': this.products[index].id,
                    'variants': JSON.stringify(this.products[index].variants)
                };

                axios.post('/products/save-variants', params).then((res) => {

                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                        let errorMsg = "<p class=\"mb-0\">Could not save variants:</p><ul>\n";

                        for (let i = 0; i < res.data.errors.length; i++) {
                            errorMsg += "<li>" + res.data.errors[i] + "</li>\n";
                        }

                        errorMsg += "</ul>\n";

                        this.$refs.modal.open('Error', errorMsg, true);

                        console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {
                        setTimeout(() => { this.$refs.modal.open('Success', 'Variants have been updated successfully.', true); }, 1000);

                        // Reset min/max prices for this product
                        this.products[index].min_price = this.products[index].variants[0].price;
                        this.products[index].max_price = this.products[index].variants[0].price;

                        for (let v = 0; v < this.products[index].variants.length; v++) {
                            this.products[index].min_price = Math.min(this.products[index].min_price, this.products[index].variants[v].price);
                            this.products[index].max_price = Math.max(this.products[index].max_price, this.products[index].variants[v].price);
                        }
                    }

                    // Unknown server error (catch all)
                    else {
                        this.$refs.modal.open('Error', 'Could not update variants due to server error. Please try again or contact support for help.', true);
                        console.log(res);
                        return false;
                    }
                });

                return true;
            },
            profit(sourcePrice, shopifyPrice) {
                let p = 0.00;
                p = parseFloat(parseFloat(shopifyPrice) - parseFloat(sourcePrice)).toFixed(2);
                return p;
            },
            deleteProduct(index) {

                // Display progress
                this.$refs.modal.open('Please wait...', 'Deleting product', false, '', 100);

                axios.post('/products/delete-product', { 'product_id': this.products[index].id}).then((res) => {

                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                        let errorMsg = "<p class=\"mb-0\">Could not delete product:</p><ul>\n";

                        for (let i = 0; i < res.data.errors.length; i++) {
                            errorMsg += "<li>" + res.data.errors[i] + "</li>\n";
                        }

                        errorMsg += "</ul>\n";

                        this.$refs.modal.open('Error', errorMsg, true);

                        console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {
                        setTimeout(() => { this.$refs.modal.open('Success', 'Product has been deleted.', true); }, 1000);
                        //setTimeout(() => { this.$refs.modal.close(); }, 1000);
                        this.products.splice(index, 1);
                    }

                    // Unknown server error (catch all)
                    else {
                        this.$refs.modal.open('Error', 'Could not delete product due to server error. Please try again or contact support for help.', true);
                        console.log('Could not delete product due to server error. Please try again or contact support for help.');
                        return false;
                    }
                });

                return true;

            },
            getShopifyPriceRange(index) {
                if (this.products[index].variants.length == 1 || parseFloat(this.products[index].min_price) == parseFloat(this.products[index].max_price)) {
                    return this.currency + parseFloat(this.products[index].min_price).toFixed(2);
                }

                return this.currency + parseFloat(this.products[index].min_price).toFixed(2) + ' - ' +this.currency + parseFloat(this.products[index].max_price).toFixed(2);
            },
            getSourcePriceRange(index) {
                if (this.products[index].variants.length == 1 || parseFloat(this.products[index].min_source_price) == parseFloat(this.products[index].max_source_price)) {
                    return this.currency + parseFloat(this.products[index].min_source_price).toFixed(2);
                }

                return this.currency + parseFloat(this.products[index].min_source_price).toFixed(2) + ' - ' + this.currency + parseFloat(this.products[index].max_source_price).toFixed(2);
            },
            getPercentDiff(index, vIndex) {
                if (this.products[index].source_prices[vIndex] != 0) {
                    let sp = parseFloat(this.products[index].source_prices[vIndex]);
                    let tp = parseFloat(this.products[index].variants[vIndex].price);
                    return parseFloat((tp - sp) / sp * 100).toFixed(2);
                }
                return '0.00';
            },
            applyPercentDiffAll(index) {
                let el = document.getElementById('product-' + index + '-percent-diff');
                let val = el.value;

                if (!isNaN(val)) {
                    for (let i = 0; i < this.products[index].variants.length; i++) {
                        el.value = parseFloat(val).toFixed(2);
                        document.getElementById('variant-' + this.products[index].variants[i].sku + '-percent-diff').value = parseFloat(val).toFixed(2);
                        this.applyPercentDiff(index, i);
                    }
                }
            },
            applyPercentDiff(index, vIndex) {
                let el = document.getElementById('variant-' + this.products[index].variants[vIndex].sku + '-percent-diff');
                let p = el.value;

                if (!isNaN(p)) {
                    let pVal = parseFloat(p);
                    let sp = parseFloat(this.products[index].source_prices[vIndex]);
                    this.products[index].variants[vIndex].price = parseFloat(sp + (sp / 100) * pVal).toFixed(2);
                    el.value = parseFloat(p).toFixed(2);
                }
            },
            updatePercentDiff(index, vIndex) {
                let pField = document.getElementById('variant-' + this.products[index].variants[vIndex].sku + '-percent-diff');
                let sp = parseFloat(this.products[index].source_prices[vIndex]);
                let tp = parseFloat(this.products[index].variants[vIndex].price);

                if (sp != 0) {
                    pField.value = parseFloat(((tp - sp) / sp) * 100).toFixed(2);
                }
                else {
                    pField.value = '0.00';
                }
            },
            getProducts() {
                this.productsLoaded = true;
                axios.post('/products/get-products').then((res) => {

                    // Process errors, if any
                    if (res.data.errors && res.data.errors.length > 0)
                    {
                        console.log('Errors:\n' + res.data.errors.join("\n"));
                    }

                    // Success
                    else if (res.data.success)  {
                        this.products = res.data.products;
                        this.attributes = res.data.attributes;
                        this.currency = res.data.currency;
                        this.productsLoaded = false;
                    }

                    // Unknown server error (catch all)
                    else {
                        console.log('Could not retrieve products due to server error. Please try again or contact support for help.');
                        return false;
                    }
                });



                return true;
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.getProducts();
        }
    }
</script>
